<div class="noste_pages">
    <div class="single-page">
        <div class="page-wrap">
            <div class="page-header">
                <img src="{{ locale_args.thumbnail }}" alt="Logo" />
            </div>
            <div class="page-body">
                Preview template not found!
            </div>
            <div class="page-footer">
                <span class="page-footer-pagination">1/1</span>
            </div>
        </div>
    </div>
</div>
