/* 
 * Comes with inline printing helper css
 * 
 * @author Remal mahmud
 */


 
/* .print-page-header,
.print-page-footer {
    top: 0;
    left: 0;
    width: 100%;
    float: right;
    height: 100px;
    display: flex;
    padding: 10px 30px;
    position: absolute;
    align-items: center;
    justify-content: end;
}
.print-page-header img {
    width: auto;
    height: 50px;
}
.print-page-footer {
    bottom: 0;
    top: unset;
    height: 60px;
    justify-content: center;
}
@media screen {
    .print-page-header,
    .print-page-footer {
        display: none;
    }
}
@page {
    size: A4;
    margin: 11mm 17mm 17mm 17mm;
}
@media print {
    body {
      visibility: hidden;
    }
    .container.px-4 {
        margin: 0;
        padding: 0;
    }
    .max-w-\[750px\] {
        width: 100%;
        max-width: unset !important;
    }
    .section-to-print {
      top: 0;
      left: 0;
      padding-top: 200px;
      position: absolute;
      visibility: visible;
    }
    .print-page-break {
        height: 100px;
        page-break-after: always;
    }
    .print-page-header,
    .print-page-footer {
        display: flex;
        position: fixed;
    }
    h2 { 
        page-break-before: always;
    }
    h3, h4, pre, blockquote, p {
        page-break-inside: avoid;
    }
    html, body {
        width: 210mm;
        height: 297mm;
    }
} */
.dots3loader {
    width: 100px;
    height: 30px;
    display: inline;
    position: relative;
}
.dots3loader::before {
    content: ".";
    animation: 1s ease-in 1s infinite reverse both running threedotsloader;
}
@keyframes threedotsloader {
    0%   {content: ".";}
    33%  {content: "..";}
    66%  {content: "...";}
}


.noste_pages {
    gap: 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    --a4-paper-width: calc(8.27in * 1.2);
    --a4-paper-height: calc(11.69in * 1.24);
}
.page-wrap {
    display: flex;
    flex-direction: column;
}
.single-page {
    margin: auto;
    padding: 55px;
    border-radius: 8px;
    border: 1px solid #E1E1EA;
    width: var(--a4-paper-width);
    height: var(--a4-paper-height);
}
.page-header {
    height: 45px;
    display: flex;
    padding: 0 30px;
    align-items: center;
    flex-direction: row-reverse;
}
.page-body {
    text-wrap: wrap;
    overflow: hidden;
    word-wrap: break-word;
    height: calc(var(--a4-paper-height) - 110px - 45px - 20px);
}
.page-footer {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media print {
    @page {
        size: A4;
    }
    body {
        visibility: hidden;
        background-color: #fff;
    }
    .noste_pages {
        gap: 0;
        top: 0;
        left: 0;
        margin: 0;
        position: absolute;
        visibility: visible;
    }
    .single-page {
        size: A4;
        /* @page {size: A4;} */
    }
    .card_item.relative {
        position: unset;
    }
}