/* 
 * Comes with inline printing helper css
 * 
 * @author Remal mahmud
 */


 
/* .print-page-header,
.print-page-footer {
    top: 0;
    left: 0;
    width: 100%;
    float: right;
    height: 100px;
    display: flex;
    padding: 10px 30px;
    position: absolute;
    align-items: center;
    justify-content: end;
}
.print-page-header img {
    width: auto;
    height: 50px;
}
.print-page-footer {
    bottom: 0;
    top: unset;
    height: 60px;
    justify-content: center;
}
@media screen {
    .print-page-header,
    .print-page-footer {
        display: none;
    }
}
@page {
    size: A4;
    margin: 11mm 17mm 17mm 17mm;
}
@media print {
    body {
      visibility: hidden;
    }
    .container.px-4 {
        margin: 0;
        padding: 0;
    }
    .max-w-\[750px\] {
        width: 100%;
        max-width: unset !important;
    }
    .section-to-print {
      top: 0;
      left: 0;
      padding-top: 200px;
      position: absolute;
      visibility: visible;
    }
    .print-page-break {
        height: 100px;
        page-break-after: always;
    }
    .print-page-header,
    .print-page-footer {
        display: flex;
        position: fixed;
    }
    h2 { 
        page-break-before: always;
    }
    h3, h4, pre, blockquote, p {
        page-break-inside: avoid;
    }
    html, body {
        width: 210mm;
        height: 297mm;
    }
} */
.dots3loader {
    width: 100px;
    height: 30px;
    display: inline;
    position: relative;
}
.dots3loader::before {
    content: ".";
    animation: 1s ease-in 1s infinite reverse both running threedotsloader;
}
@keyframes threedotsloader {
    0%   {content: ".";}
    33%  {content: "..";}
    66%  {content: "...";}
}

:root {
    /* --a4-header-height: 45px;
    --a4-footer-height: 20px; */
    --a4-header-height: 85px;
    --a4-footer-height: 30px;
}
.noste_pages {
    gap: 30px;
    display: flex;
    margin: 30px auto;
    flex-direction: column;
    --a4-paper-width: calc(8.27in * 1.2);
    --a4-paper-height: calc(11.69in * 1.24);
}
.page-wrap {
    display: flex;
    flex-direction: column;
}
.single-page {
    margin: auto;
    padding: 55px;
    border-radius: 8px;
    border: 1px solid #E1E1EA;
    width: var(--a4-paper-width);
    height: var(--a4-paper-height);
}
.page-header {
    height: var(--a4-header-height);
    display: flex;
    padding: 0 30px;
    align-items: baseline;
    flex-direction: row-reverse;
}
.page-header img {
    height: auto;
    width: 160px;
    aspect-ratio: 760 / 148;
}
.page-body {
    text-wrap: wrap;
    overflow: hidden;
    word-wrap: break-word;
    height: calc(var(--a4-paper-height) - 110px - var(--a4-header-height) - var(--a4-footer-height));
}
.page-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--a4-footer-height);
}
.print_preview > .scroll-smooth {
    display: none;
}
/*.print_preview .card_footer button {
    pointer-events: none;
}*/
@media only screen and (max-width: 1000px) {
    .noste_pages {
        gap: 20px;
        margin: 20px auto;
    }
    .single-page {
        max-width: calc(100% - 40px);
    }
}
@media print {
    @page {
        size: A4;
    }
    body {
        visibility: hidden;
        background: #fff;
    }
    .noste_pages {
        gap: 0;
        top: 0;
        left: 0;
        margin: 0;
        position: absolute;
        visibility: visible;
    }
    .single-page {
        size: A4;
        /* @page {size: A4;} */
    }
    .card_item.relative {
        position: unset;
    }
}

.section-to-print:not(.is_approved) .noste_pages .single-page .page-body {position: relative;}
.section-to-print:not(.is_approved) .noste_pages .single-page .page-body > * {
    position: relative;z-index: 2;
}
.section-to-print:not(.is_approved) .noste_pages .single-page .page-body::before {
    top: 50%;
    left: 50%;
    z-index: 1;
    opacity: 0.45;
    color: #acacac;
    font-weight: 900;
    content: "Draft";
    font-size: 180px;
    position: absolute;
    text-transform: uppercase;
    transform: translate(-50%, -50%) rotate(45deg);
}
