
<div class="noste_pages">
	<div class="single-page">
		<div class="page-wrap">
			<div class="page-header">
				<img src="{{ locale_args.thumbnail }}" alt="Logo" />
			</div>
			<div class="page-body"></div>
			<div class="page-footer">
				<span class="page-footer-pagination">1/3</span>
			</div>
		</div>
	</div>
	<div class="single-page">
		<div class="page-wrap">
			<div class="page-header">
				<img src="{{ locale_args.thumbnail }}" alt="Logo" />
			</div>
			<div class="page-body">
			</div>
			<div class="page-footer">
				<span class="page-footer-pagination">2/3</span>
			</div>
		</div>
	</div>
	<div class="single-page">
		<div class="page-wrap">
			<div class="page-header">
				<img src="{{ locale_args.thumbnail }}" alt="Logo" />
			</div>
			<div class="page-body">
			</div>
			<div class="page-footer">
				<span class="page-footer-pagination">3/3</span>
			</div>
		</div>
	</div>
</div>