<div class="noste_pages">
    <div class="single-page">
        <div class="page-wrap">
            <div class="page-header">
                <img src="http://localhost:8040/noste/wp-content/uploads/2024/03/logo-noste.png" alt="Logo" />
            </div>
            <div class="page-body">
                <div class="mb-8 mx-auto max-w-[750px]">
                    <div class="flex flex-wrap mb-4">
                        <label class="flex-[3] mr-4 text-sm font-medium text-black" for="version">Versio:</label>
                        <p class="flex-[3] text-sm text-accent" id="version">xx.xx.xxxx</p>
                    </div>
        
                    <div class="flex flex-wrap mb-2">
                        <label class="flex-[3] mr-4 text-sm font-medium text-black" for="subscriber">Tilaaja:</label>
                        <p class="flex-[3] text-sm text-accent italic" id="subscriber">T1</p>
                    </div>
                    
                    <div class="flex flex-wrap mb-4">
                        <label class="flex-[3] mr-4 text-sm font-medium text-black" for="author">Laatija:</label>
                        <p class="flex-[3] text-sm text-accent italic" id="author">P1, Partners at Noste Oy</p>
                    </div>
                    
                    <div class="flex flex-wrap mb-4">
                        <label class="flex-[3] mr-4 text-sm font-medium text-black" for="target">Kohde:</label>
                        <p class="flex-[3] text-sm text-accent italic" id="target">K4</p>
                    </div>
        
                    <div class="flex flex-wrap mb-4">
                        <label class="flex-[3] mr-4 text-sm font-medium text-black" for="target"></label>
                        <p class="flex-[3] text-sm text-accent italic">K1</p>
                    </div>
                    
                    <div class="flex flex-wrap mb-4">
                        <label class="flex-[3] mr-4 text-sm font-medium text-black" for="target"></label>
                        <p class="flex-[3] text-sm text-accent italic">K2</p>
                    </div>
        
                    <div class="flex flex-wrap mb-4">
                        <label class="flex-[3] mr-4 text-sm font-medium text-black" for="target"></label>
                        <p class="flex-[3] text-sm text-accent italic">K3</p>
                    </div>
        
                    <div class="flex flex-wrap mb-4">
                        <label class="flex-[3] mr-4 text-sm font-medium text-black" for="present">Läsnä:</label>
                        <p class="flex-[3] md:ml-5 text-sm border-accent rounded-md text-[#686d70]" id="present">{{ present }}</p>
                    </div>
        
                </div>
                <p class="mb-8 text-[#081F2C] text-sm font-medium mx-auto max-w-[750px]">Tämän läpikäynnin tavoitteena on projektin lähtötietojen tehokas selvittäminen ja koonti yhteen paikkaan. Lisäksi käydään yhteisesti läpi Nosteelle astetetut tehtävät sekä arvioitu aikataulu.</p>
    
                <div>
                    <div class="dropdown relative">
                        <div class="flex flex-wrap flex-col mb-8 mx-auto max-w-[750px]">
                            <label class="mr-4 mb-2 text-sm font-medium text-black flex items-center" for="general_situation">
                                Vuokrauksen yleistilanne 
                            </label>
                            <p class="text-sm border-accent rounded-md text-[#586B74] order-3" id="general_ituation">{{ general_situation }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-footer">
                <span class="page-footer-pagination">1/3</span>
            </div>
        </div>
    </div>
</div>
